  .h{
      text-align: center;
      color:   #800000;

      
    }
    
    .div1{
    padding:  07px;
}
 .col1{
background:     #ebdef0 ;
padding: 10px;
}
.col2{
    background:   #d7dbdd;
padding: 10px;
    
}
.popup-head {
  border-bottom: solid black;
  
}
.custom {
  background-color: rgb(20,20,20); /* This sets the background color*/
 }
 
/*Set the background to transparent for ion-item*/
/*.custom .item {
  background-color: transparent;  
  border-bottom:1px solid; 
  color: black;   
}*/
 
.custom .item-complex .item-content,  .item-content {
  background-color: transparent;
}
 

#bgcolor{
   background-color: #aebcd7;
   /*color: #fff;*/
}
.image{
   text-align: center;
}
 i.icon::before {
    font-size: 20px;
    
}
.link{
     text-decoration: none;
     color: rgb(50,50,50);
}
/*.item-select {
  width: 100%;
}
*/
.item-select select {
  left: 0;
  
   /*width:1000px;*/
}
