  .h{
      text-align: center;
      color:   #800000;

      
    }
    
    .div1{
    padding:  07px;
}
 .col1{
background:     #ebdef0 ;
padding: 10px;
}
.col2{
    background:   #d7dbdd;
padding: 10px;
    
}
.popup-head {
  border-bottom: solid black;
  
}


