  .h{
      text-align: center;
      color:   #800000;
       font-weight: bold;
      
    }
    
    .div1{
    padding:  07px;
}
 .col1{
background:     #ebdef0 ;
padding: 10px;
}
.col2{
    background:   #d7dbdd;
padding: 10px;
    
}
.popup-head {
  border-bottom: solid black; 
}
.custom {
  background-color: pink; /* This sets the background color*/
 }
 

.custom .item {
  background-color: transparent;  
  color: black;   
}
 
.custom .item-complex .item-content,  .item-content {
  background-color: transparent;
}
 

#bgcolor{
   background-color: #aebcd7;
   /*color: #fff;*/
}
.image{
   text-align: center;
}
 i.icon::before {
    font-size: 20px;
    
}
.link{
     text-decoration: none;   
     color: rgb(50,50,50);
}

/*.item-select select,  .item-select select option{*/
/*  left: 0%;*/
/*  /*padding: 0px;*/*/
/*  */
/*}*/

.item-select {
    height: 40px;
}

.item-select select {
    max-width: 100%;
    width: 100%;
}
.width{
      width: 102%;
}
/*.item-select {*/
/*    left: 0;*/
/*  /*left: 0;*/*/
/*  */
/*}*/
/**/
/**/
/*.item-select select{*/
/*/*width: 200px;*/*/
/*  left: 0;*/
/*  padding: 6.5em;*/
/*  /*margin: 0;*/*/
/* */
/*}*/
   /*width:1000px;*/

/*#wgtmsr{*/
/* width:200px;   */
/*}*/
/**/
/*#wgtmsr option{*/
/* width:200px;   */
/*}*/