<ion-view>
  

    <ion-content >
      <div class="row">
        <div class="col col-center">
			<h3 class="h">Account Information</h3>
        </div>
      </div>
      
       <div class="card" style="background-color: #cfd8dc;">
        <div class="row">
            <div class="col col-60">
                <p style="color: #64b5f6">Account Number</p>
      
            </div>
            <div class="col col-10">
                <p>:</p>
            </div>
            <div class="col col-30">
                <span style="color: black;">{{account_information.ACC_NUM}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col col-60">
                 <p style="color: #64b5f6">Plan</p>
                 
            
            </div>
             <div class="col col-10">
                <p>:</p>
            </div>
           
            
            <div class="col col-30">
                <span style="color: black;">{{account_information.PLAN_NAME}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col col-60">
                 <p style="color: #64b5f6">HSA Effective Date</p>
                 
            
            </div>
             <div class="col col-10">
                <p>:</p>
            </div>
    
            <div class="col col-30">
                <span style="color: black;">{{account_information.EFFECTIVE_DATE}}</span>
            </div>
        </div>
        
        <div class="row">
            <div class="col col-60">
                  <p style="color: #64b5f6">Account Balance</p>
                   </div>
            
             <div class="col col-10">
                <p>:</p>
            </div>
  
            <div class="col col-30">
                <span style="color: black;">{{account_information.ACCT_BALANCE}}</span>
            </div>
        </div>
    
    </div>
    
      <div class="card" style="background-color: #cfd8dc;" >
        <div class="row">
            <div class="col col-60">
                 <p style="color: #64b5f6">Total Contributions for 2016</p>
                 </div>
            
            <div class="col col-10">
                <p>:</p>
            </div>
    
            <div class="col col-30">
                <span style="color: black;">${{total_contributions.CONTRB_LIMIT}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col col-60">
                <p style="color: #64b5f6">Allowable Contributions Remaining for 2016</p>
     
            </div>
            
            <div class="col col-10">
                <p>:</p>
            </div>
            
            <div class="col col-30">
                <span style="color: black;">${{total_contributions.CURRENT_YR_CONTRB}}</span>
            </div>
        </div>
        
        <div class="row">
            <div class="col col-60">
                 <p style="color: #64b5f6">HSA Effective Date</p>
     </div>
             <div class="col col-10">
                <p>:</p>
            </div>
   
            <div class="col col-30">
                <span style="color: black;">{{total_contributions.EFFECTIVE_DATE}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col col-60">
                <p style="color: #64b5f6">Total Disbursement for 2016</p>
   </div>
            
            <div class="col col-10">
                <p>:</p>
            </div>
   
            <div class="col col-30">
                <span style="color: black;">{{total_contributions.TOTAL_DISB_AMOUNT}}</span>
            </div>
        </div>
		
		<div class="row">
			<a menu-close href="#/app/hsa" class="link"></a>
		</div>
             
     </div>
    
  </ion-content>
</ion-view>
