<ion-view>
  

    <ion-content >
      <div class="row">
        <div class="col col-center">
          <h3 class="h">Account Information</h3> 
    
        </div>
        
      </div>
      
       <div class="card" style="background-color: #cfd8dc;">
        <div class="row">
            <div class="col col-60">
                <p style="color: #64b5f6">Account Number</p>
      
            </div>
            <div class="col col-10">
                <p>:</p>
            </div>
            <div class="col col-30">
                <span style="color: black;">ICA276942</span>
            </div>
        </div>
        <div class="row">
            <div class="col col-60">
                 <p style="color: #64b5f6">Plan</p>
                 
            
            </div>
             <div class="col col-10">
                <p>:</p>
            </div>
           
            
            <div class="col col-30">
                <span style="color: black;">Value</span>
            </div>
        </div>
        <div class="row">
            <div class="col col-60">
                 <p style="color: #64b5f6">HSA Effective Date</p>
                 
            
            </div>
             <div class="col col-10">
                <p>:</p>
            </div>
    
            <div class="col col-30">
                <span style="color: black;">05/05/2011</span>
            </div>
        </div>
        
        <div class="row">
            <div class="col col-60">
                  <p style="color: #64b5f6">Account Balance</p>
                   </div>
            
             <div class="col col-10">
                <p>:</p>
            </div>
  
            <div class="col col-30">
                <span style="color: black;">$1,084.70</span>
            </div>
        </div>
    
    </div>
    
      <div class="card" style="background-color: #cfd8dc;" >
        <div class="row">
            <div class="col col-60">
                 <p style="color: #64b5f6">Total Contributions for 2016</p>
                 </div>
            
            <div class="col col-10">
                <p>:</p>
            </div>
    
            <div class="col col-30">
                <span style="color: black;">$0.00</span>
            </div>
        </div>
        <div class="row">
            <div class="col col-60">
                <p style="color: #64b5f6">Allowable Contributions Remaining for 2016</p>
     
            </div>
            
            <div class="col col-10">
                <p>:</p>
            </div>
            
            <div class="col col-30">
                <span style="color: black;">$3,350.00</span>
            </div>
        </div>
        
        <div class="row">
            <div class="col col-60">
                 <p style="color: #64b5f6">HSA Effective Date</p>
     </div>
             <div class="col col-10">
                <p>:</p>
            </div>
   
            <div class="col col-30">
                <span style="color: black;">05/05/2011</span>
            </div>
        </div>
        <div class="row">
            <div class="col col-60">
                <p style="color: #64b5f6">Total Disbursement for 2016</p>
   </div>
            
            <div class="col col-10">
                <p>:</p>
            </div>
   
            <div class="col col-30">
                <span style="color: black;">$0.00</span>
            </div>
        </div>
             
     </div>
    
  </ion-content>
</ion-view>
