<ion-view >
  <style>
    
    .div{
      text-align: center;
      padding: 25px;
    }
  </style>
  <ion-content>
  <h3 class="h" > <strong> Account Activity</strong></h3>
    <div class="div"> 
       <img src="img/contribute2.jpg" style="height: 100px; width: 100px;">
       <p>Contributions</p>
    </div>
     <div class="div"> 
       <img src="img/disbur.png" style="height: 100px; width: 100px;">
       <p>Disbursements</p>
    </div>
   
    
  </ion-content>
</ion-view>