<ion-view>
  

    <ion-content>
      <div class="row">
        <div class="col col-center">
          <h3 style="text-align: center;color: #c51162;">Available Balance</h3> 
    
        </div>
        
      </div>
      <div>
        <br>
       <div class="card"  style="background-color:#e8eaf6;">
        <h5 style="color: #b71c1c;font-weight: bold;text-align: center">Bicycle FSA</h5>
        <div class="row">
            <div class="col col-50">
                 <p style="color: #64b5f6">Annual Election</p>
     
            </div>
             <div class="col col-10">
                <p>:</p>
            </div>
           
            <div class="col col-30">
                <span style="color: black;">$240.00</span>
            </div>
        </div>
        
        <div class="row">
            <div class="col col-50">
                 <p style="color: #64b5f6">Available Balance:</p>
   
            </div>
            
              <div class="col col-10">
                <p>:</p>
            </div>
           
            <div class="col col-30">
                <span style="color: black;">$00</span>
            </div>
        </div>
      </div>
    
      <div class="card" style="background-color:#e8eaf6;">
         <h5 style="color: #b71c1c;font-weight: bold;text-align: center;">Transit FSA</h5>
     <div class="row">
        <div class="col col-50">
            <p style="color: #64b5f6">Annual Election</p>
      
        </div>
        
          <div class="col col-10">
                <p>:</p>
            </div>
           
        <div class="col col-30">
            <span style="color: black;">$600.00</span>
        </div>
     </div>
     <div class="row">
        <div class="col col-50">
             <p style="color: #64b5f6">Available Balance</p>
     
        </div>
        
          <div class="col col-10">
                <p>:</p>
            </div>
           
        <div class="col col-30">
            <span style="color: black;">$00</span>
        </div>
     </div>
    </div>
      <br>
    </div>
  </ion-content>
</ion-view>
