<ion-view  >
  <style>
    
     .div{
      text-align: center;
      padding: 25px;
    }
  </style>
  <ion-content>   
   <h3 class="h"><strong>Contibutions Activity</strong></h3>
   <div class="div"> 
       <img src="img/schedule.jpg" style="height: 100px; width: 100px;">
       <p>Scheduled Contributions</p>
    </div>
     <div class="div"> 
       <img src="img/last5.jpg" style="height: 100px; width: 100px;">
       <p>Last 5 contributions</p>
    </div>
 
  </ion-content>
</ion-view>
