<ion-view>
    <ion-content>
        
        <div class="list">
            <div class="item item-input">
                                  <img src="img/images.jpeg">
       <h2>Call us</h2>
           
                </div>
                
                 </div>
        </div>
     
       <a class="item item-avatar" href="#">
        <img src="img/images.jpeg">
        <span>Arnav</span>
        <p>gjjg</p>
       </a>
        </div>
        
           </ion-content>
</ion-view>