<ion-view>
    <ion-content>
        
            <h2 class="image" style="color: #c51162;">Contact Us</h2>
        <br>
            
        <div class="card " >
   <div class="item image" style="background-color: #aebcd7">
      <img src="img/mobile.png" width="70px" height="70px">
      <!--<h2 style="text-align: center;color: white">Call Us</h2>-->
      <p style="text-align: center;"> 1 800 617 4729</p>
   </div>
        </div>
        <div class="card">
        
         <div class="item image" style="background-color: #aebcd7">
      <img src="img/contacts.png" width="70px" height="70px">
      <!--<h2 style="text-align: center;color: white">Email Us</h2>-->
      <p style="text-align: center;font-size:12px;">CustomerService@SterlingAdministration.com</p>
   </div>

      </div>
       
        
           </ion-content>
</ion-view>