<ion-view>
    <ion-content>
        
        <div class="card">
   <div class="item item-avatar">
      <img src="img/images.jpeg">
      <h2 style="text-align: center">Call Us</h2>
      <p style="text-align: center"> 1 800 617 4729</p>
   </div>

      </div>
        
         <div class="card">
   <div class="item item-avatar">
      <img src="img/images.jpeg">
      <h2 style="text-align: center">Email Us</h2>
      <p style="text-align: center;font-size:12px">CustomerService@SterlingAdministration.com</p>
   </div>

      </div>
       
        
           </ion-content>
</ion-view>