<ion-view hide-nav-bar="false" >
   <style>
    
     .div{
      text-align: center;
      padding: 25px;
    }
  </style>
  <ion-content>
     <h3 class="h"><strong>Disbursement Activity</strong></h3>
   <div class="div"> 
       <img src="img/money2.jpg" style="height: 100px; width: 100px;">
       <p>Scheduled Disbursement</p>
    </div>
     <div class="div"> 
       <img src="img/last5dis.png" style="height: 100px; width: 100px;">
       <p>Last 5 Disbursement </p>
    </div>
  </ion-content>
</ion-view>