<ion-view>
 <style>
    
 
   .h{
      text-align: center;
      color:   #800000;

      
    }
    .div{
      text-align: center;
      padding: 25px;
    }
     </style>
  <ion-content>
   <h3 class="h" > <strong> Health Savings  Activity</strong></h3>
     <div class="div"> 
       <img src="img/state.png" style="height: 100px; width: 100px;">
       <p>Activity Statements</p>
    </div>
     <div class="div"> 
       <img src="img/tax.jpg" style="height: 100px; width: 100px;">
       <p>Tax Statements</p>
    </div>
      
   
    
  </ion-content>
</ion-view>
