<ion-view>
 <style>
    
 
   .h{
      text-align: center;
      color:   #800000;

      
    }
    .div{
      text-align: center;
      padding: 25px;
    }
     </style>
  <ion-content>
   <h3 class="h" > <strong> Health Savings  Activity</strong></h3>
     <div class="div">
		<a href="#/app/activitystmnt" menu-close style="text-decoration:none ;color:black">
			<img src="img/state.png" style="height: 100px; width: 100px;">
			<p>Activity Statements</p>
		</a>
    </div>
     <div class="div">
		<a href="#/app/taxyear" menu-close style="text-decoration:none ;color:black">
			<img src="img/tax.jpg" style="height: 100px; width: 100px;">
			<p>Tax Statements</p>
		</a>
    </div>
      
   
    
  </ion-content>
</ion-view>
