<ion-view>
    <style>
        .h{
      text-align: center;
      color:   #800000;

      
    }
    
    .div{
      text-align: center;
      
    }
    </style>
    <ion-content>
          <h3 class="h" > <strong> Health Savings  Account</strong></h3>
           <div class="row">
            <div class="col div">
				<a href="#/app/account" menu-close style="text-decoration:none ;color:black">
					<img src="img/inform1.jpg" style="height: 100px; width: 100px;">				
					<p>Account Information</p>
				</a>
            </div>
             <div class="col div ">
				<a href="#/app/account" menu-close style="text-decoration:none ;color:black">
					<img src="img/cont.jpg" style="height: 100px; width: 100px;">
					<p>Make Contribution</p>
				</a>
            </div>
              </div>
          
       
          <div class="row">
            <div class="col div">
                <a href="#/app/make" menu-close style="text-decoration:none ;color:black">
					<img src="img/trans.png" style="height: 100px; width: 100px;">
					<p>Make Disbursement</p>
				</a>
            </div>
             <div class="col div">
				<a href="#/app/activity" menu-close style="text-decoration:none ;color:black">
					<img src="img/activity.jpg" style="height: 100px; width: 100px;">
					<p>Recent Account Activity</p>
				</a>
            </div>
              </div>
          <div class="div">
				<a href="#/app/health" menu-close style="text-decoration:none ;color:black">
					<img src="img/acc2.jpg" style="height: 100px; width: 100px;">
					<p>Statements</p>
				</a>
          </div>
               
            
       
    </ion-content>
</ion-view>