<ion-view>
    <style>
        .h{
      text-align: center;
      color:   #800000;

      
    }
    
    .div{
      text-align: center;
      
    }
    </style>
    <ion-content>
          <h3 class="h" > <strong> Health Savings  Account</strong></h3>
           <div class="row">
            <div class="col div">
                <img src="img/inform1.jpg" style="height: 100px; width: 100px;">
                    
                   
  <p>  Account Information</p>
            </div>
             <div class="col div ">
                <img src="img/cont.jpg" style="height: 100px; width: 100px;">
      <p>Make Contribution
      </p>
            </div>
              </div>
          
       
          <div class="row">
            <div class="col div">
                <img src="img/trans.png" style="height: 100px; width: 100px;">
                    
                   
  <p>  Make Disbursement</p>
            </div>
             <div class="col div">
                <img src="img/activity.jpg" style="height: 100px; width: 100px;">
      <p>Recent Account Activity
      </p>
            </div>
              </div>
          <div class="div">
             <img src="img/acc2.jpg" style="height: 100px; width: 100px;">
          </div>
               
            
       
    </ion-content>
</ion-view>