<ion-view>
  <ion-content>
    <div class="image">
    <img src="img/logos.png" >
      <h3 style="color:#b1b2b6">Sterling</h3>
      <h3 style="color:#b1b2b6">Administration</h>
     </div>
    
    <div style="background-color:#aebcd7;">
      <br>
      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username" placeholder="Enter your User Name">
        </label>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password" placeholder="Enter Your Password">
        </label>
        </div>
      <div class="row">
        <div class="  col col-50 col-offset-25">
           <button class="button button-full" type="submit" ng-click="logIn()" style="background-color: #bb680b;color: white" >Sign in</button>
       
        </div>
          </div>
    </div>
  </ion-content>
</ion-view>
