 
<ion-view >
  <style>
    
    .div{
      text-align: center;
      padding: 25px;
    }
  </style>
  <ion-content>
   <h3 class="h" > <strong> Make Disbursement</strong></h3>
    <div class="div"> 
		<a href="#/app/payme" menu-close style="text-decoration:none ;color:black">
			<img src="img/payme.jpg" style="height: 100px; width: 100px;">
			<p>Pay Me</p>
		</a>
    </div>
     <div class="div">
		<a href="#/app/payprovider" menu-close style="text-decoration:none ;color:black">
			<img src="img/pay2.png" style="height: 100px; width: 100px;">
			<p>Pay Provider</p>
		</a>
    </div>
   
  </ion-content>
</ion-view>
