 
<ion-view >
  <style>
    
    .div{
      text-align: center;
      padding: 25px;
    }
  </style>
  <ion-content>
   <h3 class="h" > <strong> Make Disbursement</strong></h3>
    <div class="div"> 
       <img src="img/payme.jpg" style="height: 100px; width: 100px;">
       <p>Pay Me</p>
    </div>
     <div class="div"> 
       <img src="img/pay2.png" style="height: 100px; width: 100px;">
       <p>Pay Provider</p>
    </div>
   
   
      
   
  </ion-content>
</ion-view>
