<ion-view>
    <ion-content>
        <h3 class="h"><b>New Claim Request</b></h3>
    <br>
        <br>
          <div class="list list-inset" >
        <label class="item item-input item-select" style="background-color:#aebcd7" >
          <div class="input-label">
           Select Plan
           
            </div>
            <select style="background-color: #efefef" >
            <option selected> Select Plan</option>
            <option >Bicycle FSA</option>
            <option>Transit FSA</option>
          
          </select>

            </label>
      </div>
                   
    </ion-content>
</ion-view>