<ion-view>
    <ion-content>
        <h3 class="h"><b>New Claim Request</b></h3>
    
        <div class="list list-inset">
        <label class="item item-input item-select" >
          <div class="input-label">
           Select Plan
           
            </div>
            <select>
            <option selected> Select Plan</option>
            <option>Bicycle FSA</option>
            <option>Transit FSA</option>
          
          </select>

            </label>
      </div>

      
    </ion-content>
</ion-view>