<ion-view>
  <ion-content>
     <div class="row">
        <div class="col col-center">
          <h3 style="text-align: center;color: #c51162;">New Claim Request</h3> 
    
        </div>
        
      </div>
     
      <div class="card" >
      <p style="color: red">You do not have a bank account on record.You must add a bank account by logging into the sterlinghsa.com to schedule disbursement.</p>
      </div>
      
      <div>
        
          
          <div class="list list-inset" >
            <label class="item item-input" style="background-color: #11c1f3">
             <div class="row">
        <div class="col col-60">
         <h2>Available Balance</h2> 
        </div>
         
          <div class="col col-20">
         <h2>$00.00</h2> 
        
      
        </div>
       
      </div>
     
            </label>
           </div>
          
      <div class="list list-inset">
        <label class="item item-input item-select" >
          <div class="input-label">
            select
             <select>
            
            <option sel
                    
                    ected></option>
            <option>dd</option>
          </select>
        
            </div>
          
         </label>
      </div>
    
    
    <div class="list list-inset">
        <label class="item item-input">
            <!--<span class="input-label">Enter Amount</span>-->
            <input type="text" placeholder="Enter Amount">
            
        </label>
      </div>
    
    <div class="list list-inset">
        <label class="item item-input" >
            <!--<span class="input-label">Transaction Date*</span>-->
            <input type="text" placeholder="Transaction Date">
            
        </label>
      </div>
    
     <div class="list list-inset">
        <label class="item item-input">
            <!--<span class="input-label">Description</span>-->
            <input type="text" placeholder="Description">
            
        </label>
      </div>
   
   
    <div class="list list-inset">
        <label class="item item-input">
            <!--<span class="input-label">Patient's Name</span>-->
            <input type="text" placeholder="Patient's Name">
            
        </label>
      </div>
   
    <div class="row">
        <div class="col col-50">
              <button class="button button-full button-calm">Upload Receipt</button>

        
     </div>
      <!--</div>-->
   
    
   <!--<div class="row">-->
        <div class="col col-50 ">
              <button class="button button-full button-calm ">Submit Claim</button>

        
     </div>
      </div>
    </ion-content>
</ion-view>
