<ion-view>
  <ion-content>
     <div class="row">
        <div class="col col-center">
          <h3 style="text-align: center;color: #c51162;">New Claim Request</h3> 
    
        </div>
        
      </div>
     
      <div class="card">
      <p style="color: red">You do not have a bank account on record.You must add a bank account by logging into the sterlinghsa.com to schedule disbursement.</p>
      </div>
      
      <div>
        
          
          <div class="list list-inset">
            <label class="item item-input"  id="bgcolor">
              <div class="col col-50" >
                <p>Available balance:</p>
              </div>
           <div class="col col-50">
                <p>$1,085.70</p>
              </div>
           
            </label>
           </div>
          
      <div class="list list-inset">
        <label class="item item-input item-select"  id="bgcolor">
          <div class="input-label">
            Select Payee
            </div>
          <select  id="bgcolor">
            <option>--select Payee--</option>
            <option></option>
          </select>
        </label>
      </div>
    
    
    <div class="list list-inset">
        <label class="item item-input item-stacked-label"  id="bgcolor">
            <span class="input-label">Enter Amount*</span>
            <input type="text" id="bgcolor">
            
        </label>
      </div>
    
    <div class="list list-inset">
        <label class="item item-input item-stacked-label"  id="bgcolor">
            <span class="input-label">Transaction Date*</span>
            <input type="text" placeholder=""  id="bgcolor">
            
        </label>
      </div>
    
     <div class="list list-inset">
        <label class="item item-input item-stacked-label"  id="bgcolor">
            <span class="input-label">Description</span>
            <input type="text" placeholder=""  id="bgcolor">
            
        </label>
      </div>
   
   
    <div class="list list-inset">
        <label class="item item-input item-stacked-label"  id="bgcolor">
            <span class="input-label">Patient's Name</span>
            <input type="text" placeholder=""  id="bgcolor">
            
        </label>
      </div>
   
    <div class="row">
        <div class="col col-40 col-offset-25">
              <button class="button button-full">Upload Receipt</button>

        
     </div>
      </div>
   
    
   <div class="row">
        <div class="col col-40 col-offset-25">
              <button class="button button-full ">Submit Claim</button>

        
     </div>
      </div>
    </ion-content>
</ion-view>
