<ion-view>
  <ion-content>
     <div class="row">
        <div class="col col-center">
          <h3 style="text-align: center;color: #c51162;">Pay Me</h3> 
    
        </div>
        
      </div>
     
      <div class="card">
      <p style="color: red">You do not have a bank account on record.You must add a bank account by logging into the sterlinghsa.com to schedule disbursement.</p>
      
    </div>
      
      <div class="list list-inset">
        <div class="item item-input">
          <p>available balance</p>
        </div>
        
      </div>
      
          <!--<div class="list list-inset">
            <label class="item item-input" id="bgcolor">
              <div class="col col-50" >
                <p>Available balance:</p>
              </div>
           <div class="col col-50">
                <p>$1,085.70</p>
              </div>
           
            </label>
           </div>-->
          
      <div class="list list-inset">
        <label class="item item-input item-select" >
          <div class="input-label">
            Select Bank Account
            </div>
          <select>
            <option>--select bank--</option>
            <option></option>
          </select>
        </label>
      </div>
      
     <div class="list list-inset">
        <label class="item item-input">
           <span class="input-label">Enter Amount*</span>
            
       
            <input type="text" placeholder="">
              </label>
        </div>
    
    
    
    <div class="list list-inset">
        <label class="item item-input">
            <span class="input-label">Transaction Date*</span>
            <input type="text" placeholder="">
            
        </label>
      </div>
    <div class="list list-inset">
        <label class="item item-input item-select">
          <div class="input-label">
            Category*
            </div>
          <select>
            <option>--select category--</option>
            <option></option>
          </select>
        </label>
      </div>
    
    <div class="row">
        <div class="col col-60 col-offset-25">
              <button class="button button-full button-calm" >Upload Receipt</button>

        </div> 
     </div>
     
    <div class="row">
        <div class="col col-60 col-offset-25">
              <button class="button button-full button-calm" >Submit Disbursement</button>

        </div>
      </div>
    
  </ion-content>
</ion-view>
