<ion-view>
  <style>
    
 
   
    .div{
      text-align: center;
      padding: 05px;
    }
     </style>
  <ion-content>
   <h3 class="h" > <strong> Portfolio</strong></h3>
    <div class="div"> 
       <img src="img/hsablu.jpg" style="height: 100px; width: 100px;">
       <p>Health Savings Account<br>Available Balance $1084.70</p>
      
    </div>
     <div class="div"> 
       <img src="img/flex.jpg" style="height: 100px; width: 100px;">
       <p>Flexible Spending Account</p>
    </div>
      <div class="div"> 
       <img src="img/cont.png" style="height: 100px; width: 100px;">
       <p>Contact Us</p>
    </div>
   
    
  </ion-content>
</ion-view>
