<ion-view >
  <ion-content>
    
    
    <div class="row">
        <div class="col col-center">
          <h3 style="text-align: center;color: #c51162;">Tax Year 2015</h3> 
    
        </div>
        
      </div>
      <h4 style="text-align: center;">Contributions</h4>
   
       <div class="list list-inset">
  <label class="item item-input">
     <div class="row">
      <div class="col col-80">
       
    <p>Contributions Made in 2015 for 2016</p>
      </div>
      <div class="col col-30">
       <p>$0.00</p>
    
      </div>
     </div>
   </label>
  </div>
     
     <h4 style="text-align: center;">Disbursements/Distributions</h4>
     <div class="list list-inset">
  <label class="item item-input">
     <div class="row">
      <div class="col col-80">
       
    <p>Contributions Made in 2015 for 2014</p>
      </div>
      <div class="col col-30">
       <p>$0.00</p>
    
      </div>
     </div>
   </label>
  </div>
     
      
       <div class="list list-inset">
  <label class="item item-input">
          <div class="row">
      <div class="col col-80">
        <p>Disbursements/Distributions</p>
   
      </div>
      <div class="col col-30">
       <p>$0.00</p>
    
      </div>
      
    </div>
 
          
    
    </label>
  </div>
   
      <h4 style="text-align: center;">Interest Paid</h4>
   <div class="list list-inset">
  <label class="item item-input">
    <div class="row">
      <div class="col col-80">
        <p>Disbursements/Distributions</p>
   
      </div>
      <div class="col col-30">
       <p>$0.00</p>
    
      </div>
      
</div>
  </label>
   </div>
   <h3 style="color: #64b5f6;text-align: center;font-weight: bold;">Tax Statements</h3>
   <div class="list card" >
    <p>1.Form 1099-SA Download</p>
   <div class="item-avatar">
     <img src="img/pdf2.png" style="margin-top: 20px; margin-left: -10px";>
      
   </div>
   
   
  
    
   </div>
    <div class="list card">
    <p>2.Form 5498-SA Download</p>
    <div class="item-avatar">
     <img src="img/pdf2.png" style="margin-top: 20px; margin-left: -10px";>  
   </div>
   
   </div>
  
    </ion-content>
</ion-view>
